<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="Outlook"
      type="OpenEsdh.Outlook.Model.Configuration.Implementation.OutlookConfiguration, OpenEsdh.Outlook, Version=1.0.0.0, Culture=neutral, PublicKeyToken=157000f0c95ab316"
      allowLocation="true"
      allowDefinition="Everywhere"/>
  </configSections>
  <Outlook
    SaveAsDialogUrl="https://alfresco.dk.vsw.datakraftverk.no:8443/share/page/dp/ws/dk-openesdh-aoi-pages-outlook"
    RecieveMessageClass="IPM.Note.OpenESDH"
    SendMessageClass="IPM.Note.OpenESDH"
    PreAuthenticate="true"
    MaxRedirectRetries="1"
    IgnoreCertificateErrors="true">
    <PreAuthentication
      Username="hermakim"
      Password="851State"
      Domain="vsw"
      PreAuthenticateParameterName="alf_ticket"
      UseConfigCredentials="true"
      AuthenticationUrl="https://alfresco.dk.vsw.datakraftverk.no:8443/alfresco/service/api/login"
      AuthenticationPackageFormat="{'username':'[@username]','password':'[@password]'}">
    </PreAuthentication>
    <DialogExtend X="10" Y="60" MaxHeight="800" MaxWidth="1200" />
    <CommunicationConfiguration SendMethod="GET" JavaScriptMethodName="foobar" PostMethodName="EmailPayload"/>
    <DisplayRegion DisplayDialogUrl="http://www.google.com" RequestParameter="q"/>
  </Outlook>
</configuration>