<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section 
        name="Outlook" 
        type="OpenEsdh.Outlook.Model.Configuration.Implementation.OutlookConfiguration, OpenEsdh.Outlook, Version=1.0.0.0, Culture=neutral, PublicKeyToken=157000f0c95ab316"
        allowLocation="true"
        allowDefinition="Everywhere"/>
  </configSections>
  <Outlook SaveAsDialogUrl="http://www.google.com">
    <DialogExtend X="10" Y="60" MaxHeight="800" MaxWidth="1200" />
    <CommunicationConfiguration SendMethod="POST" JavaScriptMethodName="Initialize" PostMethodName="EmailPayload"/>
  </Outlook>
</configuration>